.nl-container {
  height: 100%;
  display: flex;
}

.nl-left {
  background-color: #f6f6f6;
  height: 100vh;
  width: 35%;
  overflow: scroll;
}

.nl-right {
  margin: 40px;
  width: 65%;
}

.nl-title {
  margin: 0;
  font-size: 2.8rem;
  align-items: center;
  display: flex;
  padding: 40px 20px 15px;
}

.nl-plus {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.nl-title-container {
  display:flex;
  align-items: center;
}

.nl-add-note-btn:hover {
  cursor: pointer;
}

.nl-filters {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 20px;
  border-bottom: 1px solid grey;
}

.nl-select {
  font-size: 1rem;
  width: 175px;
  height: 30px;
}

.nl-arrows {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.nl-arrows:hover {
  cursor: pointer;
}

.nl-time {
  color: grey;
}

.nl-text {
  font-size: 1.5rem;
}