.nc-notecard {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, .1);
}

.nc-notecard:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.nc-active {
  background-color: rgba(255, 223, 0, .5);
}

.nc-active:hover {
  background-color: rgba(255, 223, 0, .7);
}

.nc-icon-text-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.nc-icon {
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.nc-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}

.nc-time {
  text-align: right;
}