.nf-container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, .1);
  padding: 0 40px 40px;
  margin: 40px auto;
  border-radius: 15px;
}

.nf-title {
  padding: 60px 0 0px;
  margin: 0;
}

.nf-max {
  padding: 0 0 40px;
  margin: 0;
}

.nf-form {
  width: 100%;
}

.nf-text-area {
  width: 100%;
  height: 200px;
  font-size: 1.5rem;
}

.nf-select {
  font-size: 1.2rem;
  margin: 10px 0;
  width: 200px;
  height: 40px;
}

.nf-save-btn {
  display: block;
  margin: 10px 0;
  padding: 10px 30px;
}

.nf-save-btn:hover {
  background-color: rgba(193, 232, 227, .6);
}